google-ai-generativelanguage==0.6.15
google-api-core==2.25.2
google-api-python-client==2.172.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-generativeai==0.8.5
googleapis-common-protos==1.72.0
python-dotenv==1.1.0
pytube==15.0.0
requests==2.31.0
termcolor==3.1.0
youtube-transcript-api==1.2.3
